@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Time Portal!</h1>
    <p class="lead">Current Time: <span id="time" /></p>
    
    <input type="button" id="Clockin" onclick="clockin()" value="ClockIn" name="Clockin"/>
    <input type="button" id="ClockOut" onclick="clockout()" value="Clock Out" name="Clockout" />
    @Html.ActionLink("View Entries", "Portal", "Home", new { userName = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name }, htmlAttributes: new { @class = "btn btn-primary" })

    @Html.ActionLink("View Users", "Index", "User",null,htmlAttributes: new { @class = "btn btn-danger" })
        
    
    

</div>
    <script type="text/javascript">
  <!--

        function clockin() {
            var dateNOw = new Date();
            url2 = "/TimeEntry/ClockIn?time1=" + dateNOw.toUTCString();
            $.ajax({
                url: url2
            });

        }
        function clockout() {

            var dateNOw = new Date();

            // alert(dateNOw.toUTCString());

            url2 = "/TimeEntry/ClockOut?time2=" + dateNOw.toUTCString();
            $.ajax({
                url: url2

            });
        }
       /* var currentTime = new Date();
        function getTime() {
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var v = hours + ":" + minutes + ":" + seconds + " ";
            if (hours > 11) {
                v += "PM";
            } else {
                v += "AM"
            }
            return v;

        }*/
           

          /*  function updateTime() {
                var currentTime = new Date();
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var seconds = currentTime.getSeconds();
                if (minutes < 10){
                    minutes = "0" + minutes;
                }
                if (seconds < 10){
                    seconds = "0" + seconds;
                }
                var v = hours + ":" + minutes + ":" + seconds + " ";
                if(hours > 11){
                    v+="PM";
                } else {
                    v+="AM"
                }
                setTimeout("updateTime()",1000);
                document.getElementById('time').innerHTML=v;
            }
            updateTime();*/
            //-->
    </script>
